<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Options</title>
    <link rel="stylesheet" href="static/teacher_opt.css">
</head>
<body>

    <div class="header">
        <h1>Select an Option</h1>
    </div>

    <div class="buttons-container">
        <a href="#" class="option-card yellow">
            <p>STUDENTS</p>
        </a>
        <a href="#" class="option-card blue">
     
            <p>LABS</p>
        </a>
    </div>

</body>
</html>
